html {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.first-block {
    width: 100vw;
    height: 100vh;
    background: url("/static/img/first-block.png") no-repeat;
    background-size: 100% 100%;
}

.header {
    width: 100%;
    background: url("/static/img/header-bg.png") no-repeat;
    background-size: 100% 100%;
}

.site-name {
    padding: 10px;
    font-size: 30px;
    color: white;
    text-shadow: 3px 0 3px #000,
    0 3px 3px #000,
    -3px 0 1px #000,
    0 -3px 3px #000;
}

.main-block {
    padding: 25px;
    border-radius: 20px;
    background: white;
}

.wrapper {
  margin: 0 auto;
}

.game-board {
    width: 100%;
    height: 100%;
}

.cont {
    width: 100%;
}

.cont__wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 100%; // пропорции блока определяются здесь
}

.cont__cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/static/img/board.png") no-repeat;
    background-size: 100% 100%;
}

.point {
    visibility:hidden;
}

.point:hover {
    visibility: visible;
}

.img-set {
    padding: 8px;
    padding-right: 16px;
}

.left-up-design-set {
    padding: 2px;
    padding-right: 4px;
}


.screen {
    width: 100%
    height: 100%;
}

.game_window {
    width: 100vw;
    height: 100vh;
}

.game_context_block {
    padding-left: 2%;
    padding-right: 7%;
    height: 100%;
    display: flex;
}
.game_block_row {
    height: 100%;
}


.game_left_block {
    height: 100%;
    display: flex;
    padding-left: 90px;
    flex-direction: column;
    padding-bottom: 40px;
    padding-top: 90px;
}

.game_right_menu {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 70px;
    margin: auto;
    background: url("/static/img/right_block.png") no-repeat;
    background-size: 100% 100%;
}

.players_wrap {
    margin: 0 auto;
    height: 100px;
}

.player_block {
    display: inline;
    float: left;
    line-height: 100px;
}

.player_block p {
    display: inline-block;
    font-size: 24px;
    margin: 0px;
}

.player_block img {
    height: 110px;
}

img.player_block_image {
    border-radius: 35px;
    height: 70px;
}

.info_block p {
    margin-right: 10px;
    width: 60%;
    border: 2px solid red;
    border-radius: 10px;
    padding: 10px;
}

.game_button {
    border: 3px solid red;
    border-radius: 10px;
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.game_button:hover {
    outline: none;
    background: #ff9447;
}

.game_button:click {
    outline: none;
}

.game_button:disable {
    border-color: #ff6161;
}

.game_button:active {
    outline: none;
    box-shadow: 0 0 0 4px #f5c07f;
}

.up_left_image {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 10%;
}

.up_right_image {
    position: absolute;
    right: 10px;
    top: 10px;
    transform: rotate(90deg);
    height: 10%;
}

.down_up_image {
    position: absolute;
    left: 10px;
    bottom: 10px;
    transform: rotate(270deg);
    height: 10%;
}

.down_right_image {
    position: absolute;
    right: 10px;
    bottom: 10px;
    transform: rotate(180deg);
    height: 10%;
}

.aligner {
    width: 100%;
    height: 100%;
    position: relative;
}

.aligning {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: url("/static/img/right_block.png") no-repeat;
    background-size: 100% 100%;
    padding: 2%;
}

.buttons-block {
    width: 100%;
}
.buttons-block div {
    horizontal-align: middle;
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.text-block {
    border: 2px solid;
    border-color: red;
    border-radius: 30px;
    padding: 15px;
}


.start-block {
    width: 500px;
    height: 400px;
}

.hystmodal__wrap {
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.hystmodal__window {
    margin: 50px 0;
    flex-shrink: 0;
    flex-grow: 0;
    background: #fff;
    width: 600px;
    max-width: 100%;
    position: absolute;
    overflow: visible;
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    transform: scale(0.9);
    opacity: 0;
}

.hystmodal--active{
    visibility: visible;
}

.hystmodal--active .hystmodal__window{
    transform: scale(1);
    opacity: 1;
}

.hystmodal__shadow{
    position: fixed;
    border:none;
    display: block;
    width: 100%;
    top: 100px;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 98;
    opacity: 0;
    transition: opacity 0.15s ease;
    background-color: black;
}

.hystmodal__opened {
    position: fixed;
    right: 0;
    left: 0;
    overflow: hidden;
}

.test-block {
    width: 500px;
    height: 400px;
    padding: 5%;
}

.start-text-block {
    padding: 20px 0;
    width: 100%;
    vertical-align: middle;
    position: relative;
}

.start-text {
    width: 69%;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}

.start-img {
    width: 30%;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}




.login-block {
    width: 500px;
    height: 430px;
}

.login-text-block {
    padding: 20px 0;
    width: 100%;
    vertical-align: middle;
    position: relative;
}

.login-text {
    width: 69%;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}

.login-img {
    width: 30%;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}


.custom-game-block {
    width: 450px;
    height: 350px;
}

.custom-game-text {
    width: 50%;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}

.custom-game-img {
    width: 48%;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}


.r-menu-buttons-block {
    width: 34%;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}
.r-menu-buttons-block div {
    horizontal-align: middle;
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.l-menu-buttons-block {
    width: 39%;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}
.l-menu-buttons-block div {
    horizontal-align: middle;
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.menu-img {
    width: 25%;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}

.menu-game-text {
    width: 100%;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.menu-game-text p {
    width: 35%;
}

.menu-game-block {
    width: 550px;
    height: 350px;
}


.password-input {
    border: 2px solid;
    border-color: red;
    border-radius: 2px;
}

.email-input {
    border: 2px solid;
    border-color: red;
    border-radius: 2px;
}

.code-input {
    width: 92px;
    font-size: 30px;
    border: 2px solid;
    border-color: red;
    border-radius: 2px;
}

.fw_game_button {
    width: 100%;
}

.fw_game_button button {
    width: 100%;
    margin: 0;
}
