html {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.first-block {
    width: 100vw;
    height: 100vh;
    background: url("/static/img/first-block.png") no-repeat;
    background-size: 100% 100%;
}

.header {
    width: 100%;
    background: url("/static/img/header-bg.png") no-repeat;
    background-size: 100% 100%;
}

.site-name {
    padding: 10px;
    font-size: 30px;
    color: white;
    text-shadow: 3px 0 3px #000,
    0 3px 3px #000,
    -3px 0 1px #000,
    0 -3px 3px #000;
}

.main-block {
    padding: 25px;
    border-radius: 20px;
    background: white;
}

.wrapper {
  margin: 0 auto;
}

.game-board {
    width: 100%;
    height: 100%;
}

.cont {
    width: 100%;
}

.cont__wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 100%; // пропорции блока определяются здесь
}

.cont__cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/static/img/board.png") no-repeat;
    background-size: 100% 100%;
}

.point {
    visibility:hidden;
}

.point:hover {
    visibility: visible;
}

.img-set {
    padding: 8px;
    padding-right: 16px;
}

.left-up-design-set {
    padding: 2px;
    padding-right: 4px;
}


.screen {
    width: 100%
    height: 100%;
}

.game_window {
    width: 100vw;
    height: 100vh;
}

.game_context_block {
    padding-left: 2%;
    padding-right: 7%;
    height: 100%;
    display: flex;
}
.game_block_row {
    height: 100%;
}


.game_left_block {
    height: 100%;
    display: flex;
    padding-left: 90px;
    flex-direction: column;
    padding-bottom: 40px;
    padding-top: 90px;
}

.game_right_menu {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 70px;
    margin: auto;
    background: url("/static/img/right_block.png") no-repeat;
    background-size: 100% 100%;
}

.players_wrap {
    margin: 0 auto;
    height: 100px;
}

.player_block {
    display: inline;
    float: left;
    line-height: 100px;
}

.player_block p {
    display: inline-block;
    font-size: 24px;
    margin: 0px;
}

.player_block img {
    height: 110px;
}

img.player_block_image {
    border-radius: 35px;
    height: 70px;
}

.info_block p {
    margin-right: 10px;
    width: 60%;
    border: 2px solid red;
    border-radius: 10px;
    padding: 10px;
}

.game_button {
    border: 3px solid red;
    border-radius: 10px;
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.game_button:hover {
    outline: none;
    background: #ff9447;
}

.game_button:click {
    outline: none;
}

.game_button:disable {
    border-color: #ff6161;
}

.game_button:active {
    outline: none;
    box-shadow: 0 0 0 4px #f5c07f;
}

.up_left_image {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 10%;
}

.up_right_image {
    position: absolute;
    right: 10px;
    top: 10px;
    transform: rotate(90deg);
    height: 10%;
}

.down_up_image {
    position: absolute;
    left: 10px;
    bottom: 10px;
    transform: rotate(270deg);
    height: 10%;
}

.down_right_image {
    position: absolute;
    right: 10px;
    bottom: 10px;
    transform: rotate(180deg);
    height: 10%;
}

.aligner {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    overflow: auto;
}

.menu-reg-log {
    margin: auto;
    width: 500px;
    height: 400px;
    background: url("/static/img/right_block.png") no-repeat;
    background-size: 100% 100%;
}

.text-block {
    border: 2px solid;
    border-color: red;
    border-radius: 30px;
    padding: 15px;
}
