<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href={{style}}>
    <title>{{title}}</title>
    <script src=/static/js/jquery.min.js></script>
</head>
<body>
    <div class="game_window">
        <div class="row game_block_row">
            <div class="col-6 game_left_block">
                <div class="cont">
                    <div class="cont__wrap">
                        <div class="cont__cont">
                            <canvas class="screen"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 game_context_block">
                <div class="game_right_menu">
                    <div class="players_wrap">
                        <div class="player_block">
                            <p>player 1</p>
                        </div>
                        <div class="player_block">
                            <img src="/static/img/vs.svg">
                        </div>
                        <div class="player_block">
                            <p>player 2</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{url_for('static', filename='js/game.js')}}"></script>
</body>
</html>