<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href={{style}}>
    <title>{{title}}</title>
    <script src=/static/js/jquery.min.js></script>
</head>
<body>
    <img class="up_left_image"    src="/static/img/angle.png">
    <img class="up_right_image"   src="/static/img/angle.png">
    <img class="down_up_image"    src="/static/img/angle.png">
    <img class="down_right_image" src="/static/img/angle.png">
    <div id="time"></div>
    <div class="game_window">
        <div class="row game_block_row">
            <div class="col-6 game_left_block justify-content-center">
                <p id="info">Игра не загружена</p>
                <div class="cont">
                    <div class="cont__wrap">
                        <div class="cont__cont">
                            <canvas class="screen"></canvas>
                        </div>
                    </div>
                </div>
                <div class="navbar justify-content-center">
                    <button class="game_button" id="temp_map">Тепловая карта</button>
                    <button class="game_button" id="get_best_move">Лучший ход</button>
                    <button class="game_button" id="get_best_move_enemy">Лучший ход противника</button>
                    <button class="game_button" id="get_best_move_zone">Лучшая зона для игры</button>
                    <button class="game_button" id="get_superiority"> Кто побеждает</button>
                    <button class="game_button" id="pass">Пас</button>
                    <button class="game_button" id="resign">Сдаться!</button>
                    <a href="/"><button class="game_button">В главное меню</button></a>
                </div>
            </div>
            <div class="col-6 game_context_block">
                <div class="game_right_menu">
                    <div class="navbar navbar-light justify-content-center">
                        <div class="player_block">
                            <p class="player1_nik">player 1</p>
                            <img class="player_block_image player1_img" src="/static/img/NonePlayer.png">
                        </div>
                        <div class="player_block">
                            <img src="/static/img/vs.svg">
                        </div>
                        <div class="player_block">
                            <img class="player_block_image player2_img" src="/static/img/NonePlayer.png">
                            <p class="player2_nik">player 2</p>
                        </div>
                    </div>
                    <div id="my_timer"></div>
                    <div id="opponent_timer"></div>
                    <div class="navbar justify-content-center info_block">
                        <p id="dragon_info">Удачной игры, юный последователь дракона. У тебя использовано очков: 0.</p>
                        <img src="/static/img/dragon.svg">
                    </div>
                    <div class="navbar justify-content-center">
                        <button class="game_button" id="help">Подскажи!</button>
                        <button class="game_button">Не хочу</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{url_for('static', filename='js/game.js')}}"></script>
</body>
</html>