<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href={{style}}>
    <title>{{title}}</title>
</head>
<body>
    <img class="up_left_image"    src="/static/img/angle.png">
    <img class="up_right_image"   src="/static/img/angle.png">
    <img class="down_up_image"    src="/static/img/angle.png">
    <img class="down_right_image" src="/static/img/angle.png">
    <div class="aligner">
        <div class="aligning">
            <div class="custom-game-block">
                <div class="login-text-block">
                    <div class="custom-game-text">
                        <p class="text-block">Скажи мне код своей игры, чтобы начать бой</p>
                        <div class="buttons-block">
                            <form action="" method="post">
                                {{ form.csrf_token }}
                                <div>
                                    {{ form.game_code(class='code-input', value="Код") }}
                                    {% if form.game_code.errors %}
                                    {% for error in form.game_code.errors %}
                                    {{ error }}
                                    {% endfor %}
                                    {% endif %}
                                </div>
                                <div>
                                    {{ form.submit(class_='game_button fw_game_button') }}
                                </div>
                            </form>
                        </div>
                    </div>
                    <img class="custom-game-img" src="/static/img/dragon.svg">
                </div>
            </div>
        </div>
    </div>
</body>
</html>