{% extends "base.html" %}


{% block content %}
<div class="title">
    <h1 class="title-text">Главная страница</h1>
</div>
<div>
    <p class="diary-text">
        Однажды в pycharm родился необычный малыш<br>
        - Я родился<br>
        И случилось так, что он попал на в git репозиторий, <br>
        где нашёл много новых программистов<br>
        - Привет<br>
        А вот что произошло дальше, мы сейчас и накодим...<br><br><br>
        БЫСТРО ВСЕ В ДИСКОРД!
    </p>
</div>
{% endblock %}

{% block navigation %}
<div>
</div>
{% endblock %}