<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

{% for category, message in get_flashed_messages(with_categories=true) %}
<spam class="{{ category }}">{{ message }}</spam>
{% endfor %}

<form action="" method="post">
    {{ form.csrf_token }}
    <p>
        {{ form.email.label() }}
        {{ form.email() }}
        {% if form.email.errors %}
        {% for error in form.email.errors %}
        {{ error }}
        {% endfor %}
        {% endif %}
    </p>
    <p>
        {{ form.nickname.label() }}
        {{ form.nickname() }}
        {% if form.nickname.errors %}
        {% for error in form.nickname.errors %}
        {{ error }}
        {% endfor %}
        {% endif %}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>

</body>
</html>