<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href={{style}}>
    <title>{{title}}</title>
</head>
<body>
    <img class="up_left_image"    src="/static/img/angle.png">
    <img class="up_right_image"   src="/static/img/angle.png">
    <img class="down_up_image"    src="/static/img/angle.png">
    <img class="down_right_image" src="/static/img/angle.png">
    <div class="aligner">
        <div class="aligning">
            <div class="start-block">
                <div class="start-text-block">
                    <p class="text-block start-text">Добро пожаловать на сайт!
Зарегистрируйся, добрый путник, или войди если ты уже ученик дракона.</p>
                    <img class="start-img" src="/static/img/dragon.svg">
                </div>
                <div class="buttons-block">
                    <div><a href="/register/">   <button class="game_button">Зарегистрироваться</button>  </a></div>
                    <div><a href="/login/"><button class="game_button">Войти</button></a></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>